@using AspCoreUdemy.Core.Data.Models;
@model List<Exam>
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="text-center">@ViewBag.Title</h1>
<div class="row justify-content-center">
    <a class="btn btn-primary" asp-controller="Aventure" , asp-action="Create">Nouvelle aventure</a>
</div>
<h2 class="text-center">Vos dernières aventures</h2>
<div class="row">
    @foreach (var exam in Model)
    {
            <div class="card-body">
                @Html.ActionLink(@exam.Titre, "ExamStart", "Exam", new { ExamId = exam.Id })
            </div>
    }
</div>