<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/7006c7e8-bccb-45f4-b0e8-bca328b19d3f/resourcegroups/ADF-TRAINING/providers/Microsoft.ContainerRegistry/registries/AspCoreUdemyCoreData20200831230119</ResourceId>
    <ResourceName>AspCoreUdemyCoreData20200831230119</ResourceName>
    <ResourceGroup>ADF-TRAINING</ResourceGroup>
    <Subscription>Visual Studio Enterprise with MSDN</Subscription>
    <RegistryUrl>https://aspcoreudemycoredata20200831230119.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
  </PropertyGroup>
</Project>