@model AspCoreUdemy.Core.Data.Models.Response

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<AspCoreUdemy.Core.Data.Models.Exam> examList = null;
    examList = this.ViewBag.ExamList;
    var examListItems = examList.Select(item => new SelectListItem() { Text = item.Titre, Value = item.Id.ToString() }).ToList();

    List<AspCoreUdemy.Core.Data.Models.Subject> subjectList = null;
    subjectList = this.ViewBag.SubjectList;
    var subjectListItems = subjectList.Select(item => new SelectListItem() { Text = item.Titre, Value = item.Id.ToString() }).ToList();


    List<AspCoreUdemy.Core.Data.Models.Question> questionList = null;
    questionList = this.ViewBag.QuestionList;
    var questionListItems = questionList.Select(item => new SelectListItem() { Text = item.Titre, Value = item.Id.ToString() }).ToList();
}

<script src="~/lib/jquery/dist/jquery.js"></script>

<h1>Create</h1>

<h4>Reponse</h4>
<hr />
<div class="container">
    <div class="col">
        <div class="col-md-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group row">
                    <label class="control-label col">Exam</label>
                    <select id="ExamId" asp-items="examListItems" class="form-control col-md-8">
                        <option disabled selected>Select exam</option>
                    </select>
                </div>

                <div class="form-group row">
                    <label class="control-label col">Subject</label>
                    <select id="SubjectId" asp-items="subjectListItems" class="form-control col-md-8">
                        <option disabled selected>Select subject</option>
                    </select>
                </div>

                <div class="form-group row">
                    <label class="control-label col">Question</label>
                    <select id="QuestionId" asp-for="QuestionId" asp-items="questionListItems" class="form-control col-md-8">
                        <option disabled selected>Select question</option>
                    </select>
                </div>

                <div class="form-group row">
                    <label asp-for="Titre" class="control-label col"></label>
                    <input asp-for="Titre" class="form-control col-md-8" />
                    <span asp-validation-for="Titre" class="text-danger"></span>
                </div>

                <div class="form-group row">
                    <label asp-for="IsCorrect" class="control-label col"></label>
                    <input asp-for="IsCorrect" class="form-control col-md-8 float-left" />
                    <span asp-validation-for="Titre" class="text-danger"></span>
                </div>

                <div class="form-group row">
                    <label asp-for="Description" class="control-label col"></label>
                    <textarea asp-for="Description" class="form-control col-md-8" cols="80" rows="10"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    <script type="text/javascript">
    $(document).ready(function () {
            $('#ExamId').change(
        function () {
            var url = '@Url.Content("~/")' + "Subject/GetSubjectListByExam";
            var ddlsource = "#ExamId";
                    $.getJSON(url, { ExamId: $(ddlsource).val(), ViewCaller: "test"}, function (data) {
                var items = '';
                $("#SubjectId").empty();
                $.each(data, function (i, subject) {
                    items += "<option value='" + subject.value + "'>" + subject.text + "</option>";
                }
                );
                $("#SubjectId").html(items);
            });
        });

    $('#SubjectId').change(
    function () {
            var url = '@Url.Content("~/")' + "Question/GetQuestionListBySubject";
            var ddlsource = "#SubjectId";
            $.getJSON(url, { SubjectId: $(ddlsource).val(), ViewCaller: "text"}, function (data) {
            var items = '';
            $("#QuestionId").empty();
            $.each(data, function (i, question) {
            items += "<option value='" + question.value + "'>" + question.text + "</option>";
            }
            );
            $("#QuestionId").html(items);
            });
        });
    });
    </script>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
